.navbar-custom {
    background-color: #5EC5F7;
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #ffffff;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.78);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link{
    color: #ffffff;
}
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.ui-autocomplete
{
    position:absolute;
    cursor:default;
    z-index:999999999999999999999999999999 !important
}

tbody tr {
    cursor: pointer;
}

[type="search"] {
outline-offset: -2px;
-webkit-appearance: none;
    border-width: 1px;
}

td.highlightfree a {background: #28a745  50% 50% repeat-x !important;  border: 1px #88a276 solid !important;}
td.highlightnotfree a {background: #dd1e20 50% 50% repeat-x !important;  border: 1px #a25c52 solid !important;}
