
.radiobtn {
  position: relative;
  display: block;
  min-width: 100%;
}
.radiobtn label {
  display: block;
  background: #52a452;
  color: white;
  border-radius: 5px;
  border: 1px solid #52a452;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.radiobtn label:hover {
  display: block;
  background: #78d478;
  color: white;
  border-radius: 5px;
  border: 1px solid #78d478;
  margin-bottom: 5px;
  cursor: pointer;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.col-xs-2 {
  padding-right: 0px;
  padding-left: 0px;
  margin-left: 6.5%;
}
.radiobtn label:before {
  background: transparent;
  z-index: 2;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center;
  width: 0;
  height: 0;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxNS4zIDEzLjIiPiAgPHBhdGggZmlsbD0iI2ZmZiIgZD0iTTE0LjcuOGwtLjQtLjRhMS43IDEuNyAwIDAgMC0yLjMuMUw1LjIgOC4yIDMgNi40YTEuNyAxLjcgMCAwIDAtMi4zLjFMLjQgN2ExLjcgMS43IDAgMCAwIC4xIDIuM2wzLjggMy41YTEuNyAxLjcgMCAwIDAgMi40LS4xTDE1IDMuMWExLjcgMS43IDAgMCAwLS4yLTIuM3oiIGRhdGEtbmFtZT0iUGZhZCA0Ii8+PC9zdmc+);
}
.radiobtn input[type="radio"] {
  display: none;
  position: absolute;
  width: 100%;
  appearance: none;
}
.radiobtn input[type="radio"]:checked + label {
  background: #78d478;
  animation-name: blink;
  animation-duration: 1s;
  border-color: #78d478;
}
.radiobtn input[type="radio"]:checked + label:after {
  background: #78d478;
}
.radiobtn input[type="radio"]:checked + label:before {
  width: 20px;
  height: 20px;
}

